// simple color extendable clases
.kala-orange{
	color: $kala-orange
};

.kala-magenta{
	color: $kala-magenta;
};

.kala-violet{
	color: $kala-violet
};

.kala-blue{
	color: $kala-blue
};

.kala-green{
	color: $kala-green;
};

.kala-yellow{
	color: $kala-yellow;
};

%kala-orange-bg {
	background-color: $kala-orange;
}

%kala-magenta-bg {
	background-color: $kala-magenta;
}

%kala-violet-bg {
	background-color: $kala-violet;
}

%kala-blue-bg {
	background-color: $kala-blue;
}

%kala-green-bg {
	background-color: $kala-green;
}

%kala-yellow-bg {
	background-color: $kala-yellow;
}

////////////////////////////
// page backgrounds
//

.page.orange {
	@extend %kala-orange-bg;
	color: nth( $kala-orange-tints, 4 );
}

.page.magenta {
	@extend %kala-magenta-bg;
	color: nth( $kala-magenta-tints, 4 );
}

.page.violet {
	@extend %kala-violet-bg;
	color: nth( $kala-violet-tints, 4 );
}

.page.blue {
	@extend %kala-blue-bg;
	color: nth( $kala-blue-tints, 4 );
}

.page.green {
	@extend %kala-green-bg;
	color: nth( $kala-green-tints, 4 );
}

.page.yellow {
	@extend %kala-yellow-bg;
	color: nth( $kala-yellow-tints, 4 );
}

