// simple color extendable clases
.kala-orange{
	color: $kala-orange
};

.kala-magenta{
	color: $kala-magenta;
};

.kala-violet{
	color: $kala-violet
};

.kala-blue{
	color: $kala-blue
};

.kala-green{
	color: $kala-green;
};

.kala-yellow{
	color: $kala-yellow;
};