%serif {
  font-family: $font-serifs;
}

%sans {
  font-family: $font-sans;
}

%mono {
  font-family: $font-mono;
}

%uppercase {
  text-transform: uppercase;
}

////////////////////////
// General type styles
//

.leade {
	font-size: 1.25rem;
	margin-bottom:1em;
}

.accent {
	margin: 0;
	padding: .125em .25em;
	color: #fff;
	background: $kala-magenta;
	margin-bottom:.25em;
}

article .accent:first-child {
	padding-top: .5em;
	padding-left: 2.3125em !important;
	margin-bottom: 1em;
}

.lockup {
	.accent {
		margin-bottom: .0875em;
	}
	margin-bottom: .25em;
}

.inline-block {
	display: inline-block;
}

.accent-kala-orange {
	@extend .accent;
	background: $kala-orange !important;
}

.accent-kala-magenta {
	@extend .accent;
	background: $kala-magenta !important;	
}

.accent-kala-violet {
	@extend .accent;
	background: $kala-violet !important;	
}

.accent-kala-blue {
	@extend .accent;
	background: $kala-blue !important;	
}

.accent-kala-green {
	@extend .accent;
	background: $kala-green !important;	
}

.accent-kala-yellow {
	@extend .accent;
	background: $kala-yellow !important;	
}

.label {
	color: nth( $black-tints, 5 );
	display: block;
	font-weight: light;
	text-align: left;
}
