.illustration>.page {
	background-image: url(../images/backgrounds/translucent_white_bubbles.png );
	background-position: bottom left;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding-top: 3em;
}