<!doctype html>
<!--[if lte IE 8]>         <html class="no-js lte-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    {{> style-prototype--shared-head}}
  </head>

  <body class="{{slugify page.title}}">
    {{> style-prototype--header}}
    <main id="prototype-section--main">
      <div class="content-wrapper">
        {{{body}}}
      </div>
    </main>
    <!-- JavaScript goes in the footer! -->
    {{> style-prototype--shared-foot}}
  </body>

</html>