.navbar-fixed-top {
	z-index: 100;
	@include clearfix;
	background: #f9f9f9;
	box-shadow: 0px 1px 5px rgba( #000, .3 );
	.navbar-nav {
		@include breakpoint( $screen-md ) {
			// line up with logotype A bar.
			padding-top: 1.6875em;			
		}
		li {
			display: inline-block;
			width: auto;
			a{
				display: block;
				white-space: nowrap;
			}
		}
	}
}

.navbar-default .navbar-toggle {
	margin-top: 2.75em;
	background-color: nth( $black-tints, 3 );
	.icon-bar {
		background: nth( $black-tints, 5 );			
	}
	&:hover {
		.icon-bar {
			background: nth( $black-tints, 3 );
		}		
	}
}

#logo {
	width: 351px;
	height: 97px;
	background: url( $logo-url ) left center no-repeat;
	font-size: 1rem;
	margin: 0;	
	text-indent: -100em;
	a {
		@extend %block-anchor;
	}
}

.logo-small {
	text-indent: -3000px;
	text-overflow: hidden;
	width:150px;
	height:40px;
	background: url( $logo-small-url ) left center no-repeat;
}

.logo-gem {
	text-indent: -3000px;
	text-overflow: hidden;
	width:56px;
	height:65px;
	background: url( $logo-gem-url ) left center no-repeat;
}

