@mixin centered-content {
	@include breakpoint( $screen-xs ) {
		max-width: $screen-xs;
	}
	@include breakpoint( $screen-sm ) {
		max-width: $screen-sm;
	}
	@include breakpoint( $screen-md ) {
		max-width: $screen-md;
	}
	@include breakpoint( $screen-lg ) {
		max-width: $screen-lg;
	}
	@include clearfix;
	margin: 0 auto;
}

%fullwidth {
	width: 100%;
	&>.content {
		@include centered-content;
	}
}

%fullpage {
	@extend %fullwidth;
	width: 100%;
	height: 100%;
}

.page {
	@extend %fullpage;
}

%mountain-bg {
	@include clearfix;
	background-image: url(../images/backgrounds/mountains.png);
	background-repeat: repeat-x;
	background-position: bottom center;
}

%image-strip {
	height: 26em;
}

// should safely be article[data-layout="twocol-sidebar-second"]
.twocol-sidebar-second{
	@extend .row;
	&>.content {
		@include make-md-column( 9 );
	}
	&>.sidebar {
		@include make-md-column( 3, 9 );
	}
}

.logo-downloads {
	@extend .well;
	@include centered-content;
	margin-bottom: 3rem;
}

#demo-banner {
	@extend %fullwidth;
	@extend %mountain-bg;
	@extend %kala-blue-bg;
	@extend %image-strip;
	.content {
		@include make-md-column(6);
		@include clearfix;
		padding-left: 0;
	}
	color: nth( $kala-blue-tints, 4 );
	h2, h3, h4 {
		color: nth( $kala-blue-tints, 3 );		
	}
	p {
		margin-top: 1.5em;
		font-size: 1.125em;
	}
	margin-bottom: 2em;
}

#prototype-section--main {
	padding: 0 2em 2em 2em;
}

.colors li {
	width: 2em !important;
	height: 2em !important;
}

article.article>section {
	padding-left: 2.75rem;
	padding-right: 2rem;
	@include breakpoint( $screen-lg ) {
		padding-left: 7.75rem;
	}
}

figure.example {
	@include centered-content;
	&.responsive {
		img {
			max-width: 400px;
			width: 100%;
			height: auto;
			display: inline-block;
			margin: 0 auto;
		}		
	}
	figcaption {
		max-width:75%;
		margin-top: 1em;
		background: nth( $black-tints, 6 );
		padding: 1em;
		border-radius: .5em;
	}
	margin-bottom: 3em;
}

#prototype-section--main {
	padding: 6em 0 4em 0;
	@include clearfix;
}

#inspiration-thumbs {
	.thumbnail {
		border:0;
		padding: 0;
		box-shadow: 1px 1px 5px rgba( black, .3 );
		float: left;
		margin: 0 .5em .5em 0;
	}
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index:99;
	padding: .5em 2em 0 2em;
	font-size: .75rem;
	background: rgba( nth($black-tints, 6), .9 );
}

.page {
	.content {
		border: 1px #0af solid !important;		
	}
}